.profile {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.profile > * {
  grid-column: 4;
}
.header2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: -560px;
  top: 0px;
  position: absolute;
  padding: 0px 8px 8px 0px;
}
.header {
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.25);
  background: rgba(167, 178, 210, 1);
  width: 1920px;
  height: 227px;
  display: block;
  flex-shrink: 0;
  padding: 0px;
}
.svg__zI5L {
  object-fit: cover;
  max-width: 100%;
  color: #f6f6f6;
  width: 318px;
  height: 227px;
  display: block;
  left: 24px;
  top: 0px;
  position: absolute;
}
.rightPanel {
  width: 100%;
  height: 85px;
  display: block;
  position: absolute;
  left: 1367px;
  top: 70px;
  margin-right: 0px;
  padding-right: 0px;
  min-width: 0;
}
.svg___2Ap8T {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 53px;
  height: 47px;
  display: block;
  position: absolute;
  top: 8px;
  left: 358px;
}
.svg__yajue {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 55px;
  height: 53.65853500366211px;
  display: block;
  position: absolute;
  top: 0px;
  left: 183px;
}
.svg__kcWvT {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 50.975608825683594px;
  height: 53.65853500366211px;
  display: block;
  position: absolute;
  top: 0px;
  left: 18px;
}
.text__i9GsD {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 74.11%;
  left: 0%;
}
.text__n0Zrl {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 63px;
  left: 171px;
}
.text__ogIl1 {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 63px;
  left: 331px;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.logoText1 {
  background: url("./images/logoText1.png") 0px -33px / 291px 291px no-repeat;
  width: 260px;
  height: 227px;
  display: block;
  position: absolute;
  left: 35px;
  top: 2px;
  flex-shrink: 0;
}
.region {
  width: 197px;
  height: 53px;
  display: block;
  position: absolute;
  left: 850px;
  top: 85px;
  flex-shrink: 0;
}
.svg__jqPmK {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 29px;
  height: 42px;
  display: block;
  position: absolute;
  top: 8px;
  left: 0px;
}
.региондоставки {
  display: block;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.7699999809265137;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0%;
  left: 19.29%;
  width: 80.71%;
  height: 45.28%;
}
.citySelector:global(.__wab_instance):global(.__wab_instance) {
  max-width: 0%;
  position: absolute;
  left: 32px;
  top: 35px;
  width: 0px;
}
.menuItem__nrfP1:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 1;
}
.search {
  width: 470px;
  height: 70px;
  display: block;
  position: absolute;
  left: 302px;
  top: 78px;
  flex-shrink: 0;
}
.rectangle1 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 2px rgba(167, 178, 210, 1);
  transform: scale(1, -1);
  width: 100%;
  height: 100%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 100%;
  left: 0%;
  border-radius: 32px;
}
.searchField:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 12px;
  top: 11px;
  width: 442px;
  height: 49px;
}
.text__zzXwE {
  white-space: pre-wrap;
  font-family: "Montserrat", sans-serif;
  color: #141414;
}
.svg__vbztH {
  position: relative;
  height: 1em;
}
.svg__pfuEm {
  position: relative;
  height: 1em;
}
.text__xTPes {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}
.rectangle2 {
  background: rgba(167, 178, 210, 1);
  transform: scale(1, -1) translate(0px, 0.109130859375px);
  width: 10.25%;
  height: 70%;
  display: block;
  transform-origin: top left;
  position: absolute;
  top: 60px;
  left: 87.23%;
  border-radius: 23px;
}
.svg__mlozU {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  top: 23px;
  left: 422px;
}
.footer {
  width: 1920px;
  height: 531px;
  display: block;
  position: absolute;
  left: -560px;
  top: 927px;
}
.svg__zGkMd {
  object-fit: cover;
  max-width: 100%;
  color: #a7b2d2;
  width: 1920px;
  height: 508px;
  display: block;
  position: absolute;
  top: 31.07%;
  left: 0%;
}
.text__whMWs {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4500000476837158;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 85.5%;
  left: 57.08%;
  width: 12.13%;
  height: 22.78%;
}
.text__ntk8Z {
  display: block;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.4900000095367432;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 56.69%;
  left: 57.03%;
  width: 13.8%;
  height: 5.27%;
}
.text__dk1Rd {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4500000476837158;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 68.17%;
  left: 57.08%;
  width: 8.22%;
  height: 3.57%;
}
.text__nzAR {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4500000476837158;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 76.84%;
  left: 57.08%;
  width: 8.22%;
  height: 4.14%;
}
.text__jsBjm {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4500000476837158;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 85.5%;
  left: 37.92%;
  width: 12.13%;
  height: 22.78%;
}
.svg__g0FQ {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.0416259765625px, -0.416748046875px);
  width: 11.083333969116211px;
  height: 15.833333015441895px;
  display: block;
  position: absolute;
  top: 456px;
  left: 1547px;
}
.scatchсетьмагазиновуспешноработающихвовладивостокеидругихгородахроссииаещёэтокрупныйинтернетмагазинканцелярии {
  display: block;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 68.55%;
  left: 6.25%;
  width: 23.38%;
}
.магазинканцтоваровScatch {
  display: block;
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 55.56%;
  left: 6.25%;
  width: 24.63%;
  height: 3.95%;
}
.youtube {
  background: url("./images/youtube.png") center center / cover no-repeat;
  width: 1.82%;
  height: 6.59%;
  display: block;
  position: absolute;
  top: 112.43%;
  left: 9.27%;
}
.whatsapp {
  background: url("./images/whatsapp.png") center center / cover no-repeat;
  width: 1.82%;
  height: 6.59%;
  display: block;
  position: absolute;
  top: 111.68%;
  left: 6.25%;
}
.telegram {
  background: url("./images/telegram.png") center center / cover no-repeat;
  width: 1.77%;
  height: 6.59%;
  display: block;
  position: absolute;
  top: 112.43%;
  left: 12.29%;
}
.rectangle544 {
  background: rgba(255, 255, 255, 1);
  width: 87.5%;
  height: 0.37%;
  display: block;
  position: absolute;
  top: 102.82%;
  left: 6.25%;
}
.text___7B33T {
  display: block;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 114.69%;
  left: 86.56%;
}
.text__fZo {
  display: block;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 109.79%;
  left: 82.76%;
}
.text__gTsZl {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 115.25%;
  left: 85.78%;
  width: 0.83%;
  height: 3.95%;
}
.внашихмагазинах {
  display: block;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.4900000095367432;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 56.69%;
  left: 37.86%;
  width: 12.13%;
  height: 5.27%;
}
.text__oA4Da {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4500000476837158;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 68.17%;
  left: 37.92%;
  width: 8.22%;
  height: 3.57%;
}
.text__ubkXs {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4500000476837158;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 76.84%;
  left: 37.92%;
  width: 5.41%;
  height: 4.14%;
}
.text__bBlMn {
  display: block;
  font-size: 22px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.4663959741592407;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 56.69%;
  left: 83.85%;
  width: 9.94%;
  height: 6.02%;
}
._89024731492 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.4663959741592407;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 68.55%;
  left: 86.15%;
  width: 7.7%;
}
.text__smdSs {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4663959741592407;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 76.84%;
  left: 85.73%;
}
.text__mtcTy {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.4663959741592407;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 85.12%;
  left: 81.56%;
}
.svg__hp6Ru {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  top: 69.49%;
  left: 85.1%;
}
.svg___5Sz2 {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 15px;
  height: 12px;
  display: block;
  position: absolute;
  top: 415px;
  left: 1625px;
}
.svg__ooQao {
  object-fit: cover;
  max-width: 100%;
  color: #a7b2d2;
  width: 1921px;
  height: 83px;
  display: block;
  position: absolute;
  top: 26.74%;
  left: 0%;
  border-radius: 50px;
}
.figmaPaste {
  display: block;
  position: relative;
  width: 1682px;
  height: 679px;
  justify-self: flex-start;
}
.land {
  width: 1170px;
  height: 396px;
  display: block;
  position: absolute;
  left: 72px;
  top: 372px;
}
.rectangle502 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(247, 247, 247, 1);
  background: rgba(255, 255, 255, 1);
  width: 1170px;
  height: 375px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
}
.rectangle503 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(247, 247, 247, 1);
  background: rgba(255, 255, 255, 1);
  width: 1170px;
  height: 396px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
}
.name {
  width: 446px;
  height: 68px;
  display: block;
  position: absolute;
  top: 108px;
  left: 210px;
}
.иван {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 65px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__z8A {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
}
.text__kx4Nh {
  display: block;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.number {
  width: 446px;
  height: 68px;
  display: block;
  position: absolute;
  top: 108px;
  left: 690px;
}
._79085923375 {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 146px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__bzWtg {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
}
.text__oFsFr {
  display: block;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.surname {
  width: 446px;
  height: 68px;
  display: block;
  position: absolute;
  top: 193px;
  left: 210px;
}
.иванов {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 76px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__pfyiv {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
  align-self: flex-start;
  max-width: 99px;
  width: 100%;
  min-width: 0;
}
.text__lJli3 {
  display: block;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.password {
  width: 444px;
  height: 68px;
  display: block;
  position: absolute;
  top: 278px;
  left: 692px;
}
._ {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 145px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__u7Rc6 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
}
.text__yPjg5 {
  display: block;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.address {
  width: 621px;
  height: 68px;
  display: block;
  position: absolute;
  top: 278px;
  left: 35px;
}
.россияприморскийкрайгвладивостокулсветланская22 {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 605px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__tbqAe {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
}
.text__cvg8Q {
  display: block;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.email {
  width: 446px;
  height: 68px;
  display: block;
  position: absolute;
  top: 193px;
  left: 690px;
}
.ivanTestovichMailRu {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 208px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text__nLd9I {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
}
.text___2B2H0 {
  display: block;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.icon {
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
  top: 111px;
  left: 35px;
}
.lunaDs2 {
  box-shadow: 5px 5px 7.900000095367432px 0px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(0, 0, 0, 0.09000000357627869);
  background: url("./images/lunaDs1.png") center center / cover no-repeat;
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 275px;
}
.rectangle541 {
  background: rgba(159, 151, 140, 1);
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 110px;
  left: 110px;
  border-radius: 20px;
}
.button__srb7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 40px;
  width: 40px;
  margin-right: 0px;
}
.svg__o9IXw {
  position: relative;
  height: 1em;
}
.text__iHWm3 {
  white-space: pre;
}
.svg__rDcOx {
  position: relative;
  height: 1em;
}
.svg__irHf7 {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 120px;
  left: 120px;
}
.text__onhOn {
  display: block;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
  position: absolute;
  top: 42px;
  left: 50px;
}
.changeButton {
  width: 139px;
  height: 40px;
  display: block;
  position: absolute;
  top: 45px;
  left: 981px;
}
.rectangle548 {
  background: rgba(159, 151, 140, 1);
  width: 139px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
}
.button__ekSwj:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 1px;
  width: 139px;
  height: 39px;
}
.svg__cfBn {
  position: relative;
  height: 1em;
}
.text__s0Rpb {
  white-space: pre;
}
.svg__qbNhn {
  position: relative;
  height: 1em;
}
.svg__jl5Gn {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 9px;
  left: 15px;
}
.text__aT8Zw {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 12px;
  left: 41px;
}
.logOutButton {
  width: 110px;
  height: 40px;
  display: block;
  position: absolute;
  top: 45px;
  left: 855px;
}
.rectangle549 {
  background: rgba(159, 151, 140, 1);
  width: 110px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
}
.button__nJ2Pe:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 1px;
  width: 110px;
  height: 39px;
}
.svg__sszL6 {
  position: relative;
  height: 1em;
}
.text__kLgv8 {
  white-space: pre;
}
.svg__kNzAq {
  position: relative;
  height: 1em;
}
.text__qhIcr {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 11px;
  left: 41px;
}
.logOut1 {
  background: url("./images/logOut1.png") center center / cover no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 10px;
  left: 15px;
}
.menu {
  width: 437px;
  height: 577px;
  display: block;
  position: absolute;
  left: -449px;
  top: 372px;
}
.rectangle447 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(247, 247, 247, 1);
  background: rgba(255, 255, 255, 1);
  width: 437px;
  height: 577px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
}
.text__aSmFi {
  display: block;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
  position: absolute;
  top: 36px;
  left: 131px;
  width: 217px;
  height: 25px;
}
.text___2DJiZ {
  display: block;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 0.699999988079071);
  position: absolute;
  top: 87px;
  left: 132px;
  width: 225px;
  height: 28px;
}
.lunaDs1 {
  box-shadow: 5px 5px 7.900000095367432px 0px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 1px rgba(0, 0, 0, 0.09000000357627869);
  background: url("./images/lunaDs1.png") center center / cover no-repeat;
  width: 83px;
  height: 83px;
  display: block;
  position: absolute;
  top: 35px;
  left: 35px;
  border-radius: 275px;
}
.svg__maPjY {
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 269px;
  height: 1px;
  display: block;
  position: absolute;
  top: 12.99%;
  left: 30.43%;
}
.rectangle540 {
  box-shadow: 9px 0px 15px 0px rgba(6, 6, 6, 0.44999998807907104);
  background: rgba(159, 151, 140, 1);
  width: 436px;
  height: 81px;
  display: block;
  position: absolute;
  top: 153px;
  left: 1px;
}
.text__ihZaH {
  display: block;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 180px;
  left: 74px;
}
.text___5KvGw {
  display: block;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(159, 151, 140, 1);
  position: absolute;
  top: 262px;
  left: 71px;
}
.text__bSk5Y {
  display: block;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(159, 151, 140, 1);
  position: absolute;
  top: 342px;
  left: 71px;
}
.text__nvIVn {
  display: block;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(159, 151, 140, 1);
  position: absolute;
  top: 426px;
  left: 71px;
}
.text__cmXVv {
  display: block;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(159, 151, 140, 1);
  position: absolute;
  top: 508px;
  left: 73px;
}
.svg__bnJ9S {
  object-fit: cover;
  max-width: 100%;
  color: #9f978c;
  width: 17px;
  height: 24.285715103149414px;
  display: block;
  position: absolute;
  top: 345px;
  left: 39px;
}
.qa1 {
  background: url("./images/qa1.png") center center / cover no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 427px;
  left: 36px;
}
.svg__kRkQ {
  object-fit: cover;
  max-width: 100%;
  color: #9f978c;
  transform: translate(0.125px, 0px);
  width: 18.75px;
  height: 20.83333396911621px;
  display: block;
  position: absolute;
  top: 511px;
  left: 38px;
}
.svg___9Y8Px {
  object-fit: cover;
  max-width: 100%;
  color: #9f978c;
  transform: translate(0.333251953125px, -0.333251953125px);
  width: 24px;
  height: 24.666603088378906px;
  display: block;
  position: absolute;
  top: 263px;
  left: 33px;
}
.svg__yc4PQ {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 24px;
  height: 25px;
  display: block;
  position: absolute;
  top: 181px;
  left: 35px;
}
.text__euUm {
  display: block;
  font-size: 56px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 100%;
  color: rgba(46, 41, 40, 1);
  width: 594px;
  height: 54px;
  position: absolute;
  left: -450px;
  top: 280px;
}
